<!-- Navigation -->
<nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" routerLink="/admin/ventas">Administrador</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/inscripcion"><i class="far fa-address-book"></i> Inscripción de Alumnos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/bloques"><i class="far fa-cubes"></i> Bloques</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/materias"><i class="far fa-book"></i> Materias</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/director"><i class="far fa-book"></i> Modulo Director</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/admin/inventario" (click)="cerrarSesion()"><i class="fas fa-sign-out-alt"></i>
                        Logout </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<br><br><br>