<app-navbar></app-navbar>
<div class="container p-4">
    <hr>
    <div class="row">
        <div class="col-md-12">
            <div class="card text-center">
                <div class="card-header bg-dark text-white d-flex justify-content-between align-items-center">
                    CRUD BLOQUES
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card text-center">
                                
                                <div class="card-body">
                                    <div class="row">
                                        <h3>Crear Bloque</h3>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <h4>Nombre del Bloque:</h4>
                                        <hr>
                                        <input name="alumnos" [(ngModel)]="nombreBloque">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <a (click)="crearBloque()" class="btn btn-lg btn-success btn-block text-white">
                            <i class="fas fa-plus"></i>
                             Crear Bloque
                        </a>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card text-center">
                                <div class="card-body">
                                    <div class="row">
                                        <h3>Bloques creados</h3>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th>ID</th>
                                                    <th>NOMBRE</th>
                                                    <th>MODIFICAR</th>
                                                    <th>ELIMINAR</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor = "let data of bloques">
                                                    <td>{{data.IDBLOQUE}}</td>
                                                    <td>{{data.NOMBRE}}</td>
                                                    <td><input type="button" (click)="modificar(data)" class="btn btn-warning" value="Modificar"></td>
                                                    <td><input type="button" (click)="eliminar(data)" class="btn btn-danger" value="Eliminar"></td>
                                                </tr>
                                            </tbody>
                                            
                                            
                                        </table>
                                
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card text-center">
                                
                                <div class="card-body">
                                    <div class="row">
                                        <h3>Modificar Bloque</h3>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <h4>ID del Bloque:</h4>
                                        <hr>
                                        <input name="id" [(ngModel)]="idBloque" readonly>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <h4>Nombre del Bloque:</h4>
                                        <hr>
                                        <input name="alumnos" [(ngModel)]="nombreBloqueMod">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <a (click)="modificarBloque()" class="btn btn-lg btn-success btn-block text-white">
                            <i class="fas fa-plus"></i>
                             Modificar Bloque
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>
